# Google Sheets Configuration
# Update this with your IPS vendor testing results spreadsheet URL
IPS_IMPLEMENTATIONS_SHEETS_URL=https://docs.google.com/spreadsheets/d/1RqCJN2zMmqYwBO1IEWSNrm5QO5XM0Fh4GohJuB5YgrM/edit
VENDOR_RESULTS_SHEETS_URL=https://docs.google.com/spreadsheets/d/1RqCJN2zMmqYwBO1IEWSNrm5QO5XM0Fh4GohJuB5YgrM/edit
GOOGLE_SHEETS_URL=https://docs.google.com/spreadsheets/d/1_uX_UR3DULuuZBFIj1VZtA0byeDs7IStbgVA_DhZYlg/edit
IPS_RETURN_URL=https://international-patient-summary.net
PORT=80

